@page "/counter"
@using BlazorComponentTest

<PageTitle></PageTitle>

<h1>Counter</h1>

<Component1 ariaLabel="Yes OR No" value=@Value />

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>